* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: purple;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: green;
    margin-bottom: 1rem;
}

#new-todo-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background:none ;
}

#new-todo-input {
    flex: 1 1 0%;
    background-color: black;
    padding: 1rem;
    border-radius:  1rem;
    margin-right: 1rem;
    color: aqua;
    font-size: 1.25rem;
}

#new-todo-input::placeholder{
    color: whitesmoke;
}

#newTaskSubmit {
    color: palevioletred;
    font-size: 1.25rem;
    font-weight: 700;  
    background-image: linear-gradient(to right, rgb(247, 192, 200), rgb(248, 144, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#newTaskSubmit:hover {
    opacity: 0.8;
}
#newTaskSubmit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.todoList {
    padding: 1rem;
}

.todoList h2 {
    font-size: 1.25rem;
    font-weight: 300;
    color: aliceblue;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    padding: 1rem;
    border-radius:  1rem;
    margin-bottom: 1rem;
    
}



#tasks .task .content .text {
    color:rgb(247, 192, 200);
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#taska .task .content .text:not(:read-only) {
    color: brown;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;

}
.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active{
    opacity: 0.6;
}

.Save {
    display: none;
    background-image: linear-gradient(to right, rgb(247, 192, 200), rgb(248, 144, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.edit{
    display: block;
}

.task .actions .edit  {
    background-image: linear-gradient(to right, rgb(247, 192, 200), rgb(248, 144, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    background-image: linear-gradient(to right, rgb(172, 23, 46), rgb(238, 10, 10));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tasks{
    flex-direction: column-reverse;
    display: flex;
}

.content{
    flex: 1 1 0%;
}


/* DELETE-MODAL */
.modal {
    box-sizing: border-box;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: purple;
    padding-top: 50px;
}
  
.modal-content {
    background-color: purple;
    margin: 5% auto 15% auto; 
    
    width: 80%; 
}
.modal button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.modal button:hover{
    opacity: 1;
}

#cancel-confirm, #delete-confirm{
    float: left;
    width: 50%;
}

#cancel-confirm {
  background-color: #ccc;
  color: black;
}

#delete-confirm{
  background-color: #f44336;
}

.modal h3, p{
    color: rgb(243, 231, 231)
}
.modal-content{
  padding: 16px;
  text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}